SECRET_KEY=08292882782782782782782728Samuel
DEBUG=True
DATABASE_URL=postgres://samuel:Samuel@0309@localhost:5432/project_pi
EMAIL_HOST=smtp.gmail.com
RESPONSE_EMAIL_PASSWORD=123 345 dfg a12
RESPONSE_EMAIL=example@gmail.com
REDIS_URL=redis://localhost:6379/10
FRONTEND_URL=localhost:3000